<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Quiz</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/create-quiz.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
  <script defer src="/scripts/nav.js"></script>
  <script defer src="/scripts/create-quiz.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <!-- Modal -->
  <div id="myModal" class="modal">
    <!-- Modal content -->
    <div id="modal-box" class="modal-content">
      <span id="modal-close-button" class="close">&times;</span>
      <p>Quiz Created!
        <p>Please enter your friend's email address to share this quiz, or click "Next" to experience your newly created quiz.</p>
      <input type="email" id="modal-email-input" required>
      <button id="modal-submit-button">Submit</button>
      <button id="modal-next-button">Next</button>
    </div>
  </div>
  <section id="quiz-box">
    <h2>Create A New Quiz</h2>
    <form id="quiz-output">
      <label for="quiz-title">Quiz Title:</label><br />
      <input type="text" id="quiz-title" name="quiz-title" class="form-input" /><br />
      <label for="quiz-desc">Quiz Description:</label><br />
      <textarea id="quiz-desc" name="quiz-desc" class="form-input"></textarea><br />
      <p>Remember to choose one correct answer for each question.</p>
      <% for (let i=1; i <=5; i++) { %>
        <!-- Question <%= i %> -->
        <label for="question-<%= i %>">Question <%= i %>:</label><br />
        <input type="text" id="question-<%= i %>" name="question-<%= i %>" class="form-input" /><br />

        <% for (let j=1; j <=4; j++) { %>
          <label for="answer-<%= i %>-<%= j %>">
            Answer <%= j %>: <input type="radio" name="correct-answer-<%= i %>" value="<%= j %>" class="form-input" />
          </label>
          <input type="text" id="answer-<%= i %>-<%= j %>" name="answer-<%= i %>-<%= j %>" class="form-input" /><br />
          <% } %>
            <% } %>

              <input type="checkbox" id="private-check" name="private-check" class="form-input" />
              <label for="private-check">Make Quiz Private.</label><br />

              <input type="submit" value="Create Quiz" />
              <p id="error-message" style="display: none; color: red;"></p>
    </form>
  </section>



</body>

</html>
