<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <script src="/vendor/jquery-3.0.0.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />


  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/nav.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
 <div class="quiz-container">
 <% if (results && results.length > 0) { %> <!-- Here results,attempts,averagescore are variables coming from routes folder - index.js file and quiz is a object of results array-->
  <% results.forEach((quiz) => { %>
    <div class="quiz">
      <div class="myQuizz">
        <h1 class="title"><%= quiz.title %></h1>
        <% if (quiz.num_attempts) { %>

          <div class="attempts">
            <h4 class="attempts-text">Attempts:</h4>
            <h4 class="attempts-value"><%= quiz.num_attempts %></h4>
          </div>
        <% } else { %>
          <div class="attempts">
            <span class="attempts-text">Attempts:</span>
            <span class="attempts-value">None</span>
          </div>
        <% } %>

        <div class="average-score">
          <h4 class="average-score-text">Average Score:</h4>
          <% if (quiz.averagescore) { %>
            <h4 class="average-score-value"><%= quiz.averagescore %></h4>
          <% } else { %>
            <span class="average-score-value">None</span>
          <% } %>
        </div>

        <p class="description-text">Description:</p>
        <p class="description-value"><%= quiz.description %></p>

        <a class="take-quiz-btn" href="/quizzes/<%= quiz.id %>">Take Quiz</a>
      </div>
    </div>

  <% }) %>
<% } else { %>
  <p>No quizzes found.</p>
<% } %>
</div>
<%- include('partials/_footer') %>
</body>
</html>
