<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Quizzes</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <script src="/vendor/jquery-3.0.0.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />


  <script defer src="/scripts/users.js"></script>
  <script defer src="/scripts/nav.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
 <div class="quiz-container">
  Quizzes: <%= typeof quizzes %>
 <% if (quizzes && quizzes.length > 0) { %>
  <% quizzes.forEach((quiz) => { %>
     <div class="quiz">
      <form class="myQuizz" action="/quizzes/<%= quiz.id %>" method="GET">
        <h1 class="title"><%= quiz.title %></h1>
        <% if (quiz.attempts) { %>
          <h4>Attempts: <%= quiz.attempts %></h4>
        <% } %>
        <% if (quiz.averagescore) { %>
          <h4>Average Score: <%= quiz.averagescore %></h4>
        <% } %>
        <p>Description: <%= quiz.description %></p>
        <button type="submit">Take Quiz</button>
      </form>
    </div>
  <% }) %>
<% } else { %>
  <p>No quizzes found.</p>
<% } %>
</div>
<%- include('partials/_footer') %>
</body>
</html>
