<!DOCTYPE html>
<html lang="en">

<head>
  <title>Attempt the quiz</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >
  <script src="/vendor/jquery-3.0.0.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/quiz.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/footer.css" />

  <script defer src="/scripts/users.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/scripts/quiz.js"></script>
  <script defer src="/scripts/nav.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <div class="quiz-questions">
  <h1>Do your best</h1>
  <div class="error-message"></div>
  <section id="container">
  <form id="quiz-form" action="/quizzes/<%= quizId %>" method="POST">
    <div class="question-container">
      <% for (let i = 0; i < quiz.length; i++) { %>
        <% const question = quiz[i]; %>
        <div class="question" id="question<%= i %>">
            <!-- Question <%= i %> -->
          <article><%= question.text %></article>
          <section class="options" id="options<%= i %>">
            <% for (let j = 0; j < choices.length; j++) { %>
              <% const choice = choices[j]; %>
              <% if (choice.question_id === question.id) { %>
                  <!-- Choice options for Question <%= i %> -->
                <input class="allOptions" type="checkbox" name="answers[<%= i %>]" id="option<%= j + 1 %>-<%= i %>" value="<%= choice.answer %>">
                <label class="choice-button" for="option<%= j + 1 %>-<%= i %>"><%= choice.answer %></label>
              <% } %>
            <% } %>
          </section>
        </div>
      <% } %>
    </div>
  </section>
    <!-- Next and Submit buttons -->
    <button id="submit-btn" data-quizid="<%= quizId %>">Submit</button>
  </form>
  <button id="next-btn">Next</button>
</div>
<%- include('partials/_footer') %>
</body>
</html>
